body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: rgba(220, 220, 220, 0.685) !important;
}
.inner-container {
    border-radius: 10px;
    box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.658);
}
.twitter-logo img {
    border-radius: 50%;
    box-shadow: 3px 3px 9px 4px rgba(0, 0, 0, 0.473);
    text-align: center;
  
}

input
{
    border: none;
    background-color: transparent;

    /* box-shadow:2px 2px 5px 5px darkgray inset; */
    padding: 2% 0 2% 5%;
   

}
.modal-content
{
    width: 60% !important;
    height:370px;
    margin-top:20% !important;
    margin-left: 20% !important;
    border-radius: 15px;
}

.input-box {
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px darkgray inset;
}
.input-group i {
    padding: 2% 5%;
}
input[type="submit"] {
    border-radius: 20px;
    background-color: #1DA1F2;
    box-shadow: 0px 0px 0px 0px white inset !important;
}
.btn1
{width:30%;
    border-radius:0px 0px 0px 0px !important ;
    text-align: center;
}