body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    color: beige;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.header span {
    color: orange;
}

.social-media {
    margin-left: 40%;
    font-size: 30px;
    padding: 5px;
    letter-spacing: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.div1 {
    width: 100%;
    height: 550px;
    /* background: url(../video/course-video.mp4);   */
position: relative;
    background-size: 100% 600px;
    background-attachment: fixed;
}
.div1 video{
    width: 100%;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(231, 226, 231, 0.288);
    padding: 0px;
    display: flex;
    flex-direction: row;

}


.navbar-logo {
    width: 20%;
    height: 10px;
    padding: 7px;
    color: white;
    font-size: 30px;
    margin-left: 50px;


}

.navbar-link li {
    display: inline-block;
    font-size: 20px;
    padding-left: 35px;

}

.navbar-link {
    margin-left: 22%;



}

.navbar-link a {
    color: white;
    text-decoration: none;
    list-style: none;
}
.navbar-link a:hover {
    color:rgb(255, 174, 0);
    text-decoration: none;
    list-style: none;
}

.dropdown-menu li
{
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}
.dropdown-menu
{
    width: 200px;
    height: auto;
    display: none;
    margin-top: 10px;
    /* box-shadow: 1px 1px 5px 5px white; */
    background-color: #70d6cc5b;
    position: absolute;
    z-index: 5 !important;
}



.slider {
    width: 100%;
    height: 600px;
}

.slider h5,
h1,
p {
    margin-left: 55px;
    color: white;
}

.slider span {
    color: aqua;
    font-size: 20px;
}

.btn {
    width: 10%;
    height: 40px;
    background-color: red;
    font-size: 20px;
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 55px;
    margin-top: 1%;
    border: none;
}

.btn:hover {
    width: 10%;
    height: 40px;
    background-color: blue;
    font-size: 20px;
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 55px;
    margin-top: 1%;
    border: none;
}
.best-student{
    width: 25%;
    height: 300px;
    background-color:brown;
    margin-top: 20%;
    position: relative;
    margin-top: 6%;
    margin-left: 10%;
    float: left;
    border-radius: 25px;
}
.best-student img{
    margin-top: 5%;
    margin-left: 40%;
}
.best-student h2{
margin-left: 28%;
color: white;
font-size: 30px;
}
.best-student p{
color: white;
font-size: 20px;
}
.best-education{
    width: 25%;
    height: 300px;
    background-color:brown;
    margin-top: 20%;
    position: relative;
    margin-top: 6%;
    margin-left: 2%;
    float: left;
    border-radius: 25px;
}
.best-education img{
    margin-top: 5%;
    margin-left: 40%;
}
.best-education h2{
margin-left: 28%;
color: white;
font-size: 30px;
}
.best-education p{
color: white;
font-size: 20px;
}

.best-teachers{
    width: 25%;
    height: 300px;
    background-color: brown;
    margin-top: 20%;
    position: relative;
    margin-top: 6%;
    margin-left: 2%;
    float: left;
    border-radius: 25px;
}
.best-teachers img{
    margin-top: 5%;
    margin-left: 40%;
}
.best-teachers h2{
margin-left: 28%;
color: white;
font-size: 30px;
}
.best-teachers p{
color: white;
font-size: 20px;
}


.div2 {
    width: 100%;
    height: 1300px;
    margin: 0;
    padding: 0;
    background: url(../image/mini12.jpg);
    background-attachment: fixed;
    
}

.div2 p {
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 40%;
}

.div2 hr {
    width: 80%;

}

/* .meeting-catgories 
{
    width: 23%;
    height: 400px;
    background-color:white;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 15px;
}
.meeting-catgories h1
{
    margin-left: 25px;
    color: blue;
    font-size: 30px;
   
}
.meeting-catgories p{
margin-top: 15px;
    color: black;
    margin-top: 5%;
    font-size: 25px;
    margin-left: 20px;
    padding: 5px;
}
.btn1{
    width: 80%;
    height: 35px;
    border-radius: 25px;
    background-color: red;
    margin: 0;
    margin-top: 35PX;
    margin-left: 10%;
    font-size: 15px;
    color: white;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.btn1:hover{
    width: 80%;
    height: 35px;
    border-radius: 25px;
    background-color: rgba(252, 5, 5, 0.884);
    margin: 0;
    margin-top: 35PX;
    margin-left: 10%;
    font-size: 15px;
    color: white;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.box4
{
    width: 50%;
    height: 300px;
    background-color: blue;
    margin-left: 40%;
    grid-template-row: auto auto auto auto;
    
} */
.contact-float-grid {
    width: 90%;
    height: 200px;
    margin: auto;
    padding: 15px;
    margin-left: 5%;
    margin-top: 1%;

}

.grid1 {
    width: 25%;
    height: 500px;
    padding: 15px;
    background-color: white;
    display: grid;
    float: left;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 10px;


}

.grid1 h1 {
    color: black;
    margin: 0;
    font-size: 30px;
    margin-left: 15%;
    margin-top: 2%;
}

.grid1 p {
    color: black;
    font-size: 25px;
    margin: 0;
    margin-top: 10%;
    margin-left: 10%;


}

.grid1 button {
    width: 70%;
    height: 90px;
    background-color: brown;
    color: white;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 25px;
    border: none;
}

.grid1 button:hover {
    width: 70%;
    height: 90px;
    background-color: rgb(173, 67, 67);
    color: white;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 25px;
    border: none;
}

.grid2 {
    width: 65%;
    height: 900px;
    margin-top: -15%;

    float: left;

    font-size: 30px;
    margin-left: 35px;
}

.section1 {
    width: 46%;
    height: 400px;
    background-color: white;
    border-radius: 50px solid red;
    margin: 10px;
    float: left;
    


}
.section1 p{
    color: #000;
    font-size: 25px;
    display: inline;
    margin: 0;
    margin-left: 15px;
}

.section1 img {
    width: 100%;
    height: 250px;

}

.section2 {
    width: 46%;
    height: 400px;
    margin: 10px;
background-image: url(../image/meeting-03.jpg)no-reapt;
background-attachment:;
    background-color: white;
    /* padding: 15px;
    margin: 10px; */
    float: left;

}
.section2 p{
    color: #000;
    font-size: 25px;
    display: inline;
    margin: 0;
    margin-left: 15px;
}


.section2 img {
    width: 100%;
    height: 250px;
}

.div3 {
    width: 100%;
    height: 650px;
    background: url(../image/div3.jpg)no-repeat;
    background-size: 100% 800px;
    background-attachment: fixed;
    overflow: auto;


}

.degree1 {
    width: 50%;
    height: 220px;
    background-color: rgba(128, 128, 128, 0.336);
    margin-left: 8%;
    margin-top: 5%
}

.degree1 p {
    font-size: 20px;
}

.button1 {
    width: 20%;
    height: 50px;
    background-color: rgb(190, 42, 42);
    border: none;
    border-radius: 45px;
    font-size: 20px;
    margin-left: 7%;
}

.button1:hover {
    width: 20%;
    height: 50px;
    background-color: rgb(67, 67, 151);
    border: none;
    border-radius: 45px;
    font-size: 20px;
    margin-left: 7%;
}

.degree2 {
    width: 50%;
    height: 250px;
    background-color: rgba(128, 128, 128, 0.336);
    margin-left: 8%;
    margin-top: 5%
}

.degree2 p {
    font-size: 20px;
}

.button2 {
    width: 20%;
    height: 50px;
    background-color: rgb(56, 56, 131);
    border: none;
    border-radius: 45px;
    font-size: 20px;
    margin-left: 7%;
}

.button2:hover {
    width: 20%;
    height: 50px;
    background-color: rgb(184, 72, 72);
    border: none;
    border-radius: 45px;
    font-size: 20px;
    margin-left: 7%;
}

.degree3 {
    width: 15%;
    height: 460px;
    background-color: white;
    display: grid;
    margin-top: -15%;
    float: right;
    padding-left: 15%;
    margin-right: 2%;
    border-radius: 15px;



}

.div4 {
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    background: url(../image/mini12.jpg);
    background-attachment: fixed;
    overflow: hidden;

}

.div4 p {
    font-size: 25px;
    margin-left: 8%;
}

.div4 hr {
    width: 83%;
}

.courses1 {
    width: 20%;
    height: 350px;
    background-color: white;
    margin: 0.5%;
    float: left;
    margin-left: 8%;
    margin-top: 4%;
}

.courses1 p {
    color: black;
    margin-left: 15%;
}

.courses1 hr {
    width: 100%;
    color: #000;
}

.fa-star {
    color: rgb(255, 102, 0);
    display: inline;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;

}

.courses1 span {
    color: red;
    font-size: 25px;
    padding-left: 25px;
}

.courses2 {
    float: left;
    width: 20%;
    height: 350px;
    margin: 0.5%;
    background-color: white;
    margin-top: 4%;
}

.courses2 p {
    margin: 4%;
    color: black;
    margin-left: 15%;
}

.courses2 hr {
    width: 100%;
    color: #000;
}

.fa-star {
    color: rgb(255, 102, 0);
    display: inline;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;

}

.courses2 span {
    color: red;
    font-size: 25px;
    padding-left: 25px;
}

.courses3 {
    float: left;
    width: 20%;
    height: 350px;
    margin-top: 5%;
    background-color: white;
    margin: 0.5%;
    margin-top: 4%;
}

.courses3 p {
    margin: 4%;
    color: black;
    margin-left: 15%;
}

.courses3 hr {
    width: 100%;
    color: #000;
}

.fa-star {
    color: rgb(255, 102, 0);
    display: inline;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;

}

.courses3 span {
    color: red;
    font-size: 25px;
    padding-left: 65px;
}

.courses4 {
    float: left;
    width: 20%;
    height: 350px;
    margin: 0.5%;
    background-color: white;
    margin-top: 4%;
}

.courses4 p {
    margin: 4%;
    color: black;
    margin-left: 15%;
}

.courses4 hr {
    width: 100%;
    color: #000;
    margin-top: 15%;
}

.fa-star {
    color: rgb(255, 102, 0);
    display: inline;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5%;

}

.courses4 span {
    color: red;
    font-size: 25px;
    padding-left: 85px;
}

.div5 {
    width: 100%;
    height: 650px;
    margin: 0;
    padding: 0;
    
    background: url(../image/div5.jpg);
    background-attachment: fixed;
    overflow: hidden;

}

.div5 p {
    font-size: 35px;
    color: white;
    margin-left: 10%;
    margin-top: 6%;
}

.box1 {
    width: 20%;
    height: 300px;
    margin-left: 10%;
    margin-top: 3%;
    float: left;
}

.sucess-student {
    width: 90%;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.671);
    padding: 15px;
    border-radius: 25px;
}

.sucess-student p {
    color: rgb(255, 153, 0, 0.849);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35%;

}

.sucess-student span {
    font-size: 30px;
    color: white;
    margin-left: 10%;
}

.teachers {
    width: 90%;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.671);
    padding: 15px;
    border-radius: 25px;
    margin-top: 15%;

}

.teachers p {
    color: rgba(255, 153, 0, 0.849);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35%;

}

.teachers span {
    font-size: 30px;
    color: white;
    margin-left: 10%;
}

.box2 {
    width: 20%;
    height: 300px;
    float: left;
    margin-top: 6%;
    margin-left: 2%;


}

.new-student {
    width: 90%;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.671);
    padding: 15px;
    border-radius: 25px;
}

.new-student p {
    color: rgba(255, 153, 0, 0.849);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35%;

}

.new-student span {
    font-size: 30px;
    color: white;
    margin-left: 18%;
}

.awards {
    width: 90%;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.671);
    padding: 15px;
    border-radius: 25px;
    margin-top: 15%;
}

.awards p {
    color: rgba(255, 153, 0, 0.849);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35%;

}

.awards span {
    font-size: 30px;
    color: white;
    margin-left: 28%;
}

.video {
    width: 35%;
    height: 350px;

    float: left;
    margin-left: 9%;
    border-radius: 50px;

}

.div6 {
    width: 100%;
    height: 750px;
    margin: 0;
    padding: 0;
    background: url(../image/mini12.jpg);
    background-attachment: fixed;
    overflow: hidden;
}

.form {
    width: 60%;
    height: 450px;
    background-color: white;
    margin-top: 8%;
    margin-left: 10%;
    border-radius: 25px;
    float: left; 
}

.form p {
    font-size: 25px;
    color: #000;
}


input {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.219);
    font-size: 15PX;
    margin-left: 4%;
    margin-top: 5%;


}

textarea {
    width: 88%;
    height: 90px;
    background-color: rgba(128, 128, 128, 0.219);
    font-size: 15PX;
    margin-left: 4%;
    margin-top: 1%;
    border-radius: 25px;
    border: none;

}

input[type="submit"] {
    width: 20%;
    height: 45px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 25px;
}


.address {
    width: 20%;
    height: 500px;
    background-color: brown;
    float: left;
    margin-top: 6%;
    margin-left: 55px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 45px;
}

  

.address p {
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 15px;
    margin-left: 10%;

}

.address span {
    margin: 0;
    font-size: 24px;
    color: white;
    margin-left: 15%;

}

.axit {

    color: rgb(202, 119, 25);
}
hr{
    width: 100%;
    color: palevioletred;
}